version: '3.8'
services:
  web:
    image: node:18-alpine
    container_name: mughal-hotel-app-${BUILD_NUMBER}
    working_dir: /app
    restart: always
    ports:
      - "3001:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    command: sh -c "npm install --legacy-peer-deps && node index.js"
    env_file:
      - .env
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    container_name: mughal-mongodb-${BUILD_NUMBER}
    ports:
      - "27018:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
